@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    font-family: 'Courier Prime', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.container {
    margin: 0 50px;
}

.navbar {
    font-size: 16pt;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}


.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item a {
    font-size: 18px;
    padding: 0 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    text-decoration: none;
    color:white;
  }

  .navbar-item a:hover {
    color: #1CCBB1;
  }
  
  .navbar-item a:before, .navbar-item a:after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0px;
    height: 1.5pt;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.4s;
    background-color: #1CCBB1;
    opacity: 0;
  }
  .navbar-item a::before {
    left: calc(35%);
  }
 .navbar-item a::after {
    right: calc(35%);
  }
  li:hover a::before, li:hover a::after {
    width: 50%;
    opacity: 1;
  }
  
@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar-menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        font-size: 20pt;
    }

    .navbar-toggle .bar {
        background: white;
        width: 35px;
        height: 3px;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
    }

    .navbar-item {
        padding: 15px 0;
    }

    #mobile-menu {
        margin-top: 30px;
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate-(45deg);
    }
}